body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
/* Section 1 */

.section-1{
    margin-bottom: 60px;
}
.container-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.element{
    height: 400px;
    width: 300px;
}
.element>img{
    height: 100%;
    width: 100%;
}
.flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-right: 20px;
}
.flex a{
    color: grey;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
}
.flex a:hover{
    color: black;
    border-bottom: solid black 2px;
}
.flex i{
    color: grey;
}
.flex i:hover{
    color: black;
}
.nav-gauche{
    display: flex;
}
.nav-droite{
    display: flex;
    padding-right: 20px;
}
li{
    list-style-type: none;
    margin: 0px 5px 0px 5px;
}
a{
    text-decoration: none;
}
/* Section 2 */

.float-left{
    float: left;
}
.float-right{
    float: right;
    margin-top: 15px;
}
.section-2{
    display: grid;
    grid-template-columns: 100px 150px 400px 230px 80px 285px;
    grid-template-rows: 200px 200px 200px;
}
.item-1{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    z-index: 10;
}
.item-1>h1{
    font-size: 40px;
    margin: 0;
    font-weight: bold;
}
.item-2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 40px;
}
.item-2>ul{
    display: flex;
    padding: 0;
}
.item-2 li{
    padding-right: 20px;
}
.item-2 a{
    color: grey;
}
.item-2 a:hover{
    color: black;
}
.item-3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 40px;
}
.item-3>p{
    width: 350px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: gray;
}
.lien-bleu{
    color: lightseagreen;
}
.lien-noir{
    color: black;
}
.item-4{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 40px;
}
.item-4 i{
    width: 50px;
    margin-top: 20px;
}
.item-4 a{
    color: lightseagreen;
}
.item-5{
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item-5>img{
    height: 400px;
    width: 1030px;
}
.item-6{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}
.item-6 ul{
    padding-left: 25px;
    margin-top: 10px;
}
.item-6 li{
    padding-bottom: 10px;
}
.item-6 i{
    color: white;
}
.item-7{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
}
.item-7>img{
    height: 400px;
    width: 320px;
}
.item-8{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 400px;
    width: 20px;
    background-color: #B5D3D3;
    margin-left: -10px;
}

/* Section 3 */

.latest{
    text-align: center;
}
.latest>hr{
    width: 75px;
    margin-bottom: 50px;
}
.section-3 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-3 img{
    float: left;
    height: 110px;
    width: 150px;
}
.section-3 p{
    float: right;
    height: 100px;
    width: 200px;
    margin-left: 20px;
    margin-top: 10px;
}
.section-3 a{
    color: black;
}
.section-3 a:hover{
    color: #B5D3D3;
}