
body {
  font-family: 'Poppins', sans-serif;
  min-width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.page{
  margin: 40px;
}
nav{
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
}
h1{
  font-family:'poppins', sans-serif;
  font-size: 60px;
  font-weight: lighter;
  text-align: left;
}
h2{
  font-family:'poppins', sans-serif;
  font-size: 24px;
}
h4{
  font-family:'poppins', sans-serif;
  font-size: 15px;
  color: #77777E
}
p{
  font-family: 'Nunito', sans-serif;
  color:#6E6D6E;
  max-width: 400px;

}
ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style-type: none;
    margin-top: 8px;
    color: black;
  }
  
li { 
    color: black;
    text-align: center;
  }

  a {
    padding: 14px 16px;
    text-decoration: none;
    color: black;
  }

  li a:hover {
    border-bottom: solid;
    border-color: black;
  }

  .social ul {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-content: center;
    padding: 5%
  }

  .social ul li {
    padding: 20px 0 0 0;
    list-style-type: none;
    text-align: center;
    width: 38px;
  }

.container{
  display:grid;
  grid-template-columns: 1fr 1fr 20px;
  grid-gap: 80px;
  align-items: center;
  justify-items: left;
  margin-left: 200px;
}
.container2{
  display:grid;
  grid-template-columns: 600px 1fr;
  grid-gap: 80px;
  align-items: center;
  justify-items: left;
  margin-left: 200px;
}
.container3{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  align-items: left;
  justify-items: left;
  margin-left: 200px;
}

.press{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}
.press img{
  width: 200px;
}

.derek {
   width: 600px;
  }

.similar {
  margin: auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
  align-items: center;
  justify-items: center;
}

.client{
  height: 500px;
  width: 455px;
}

.client:hover{
  filter: brightness(40%);
}

.lorem{
  margin-top: 40px;
}
