body, html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

header {
  height: 90%;
  width: 100%;
}

/* nav */
nav {
  width: 100%;
  position: absolute;
  margin-top: 1%;
  font-family: 'Playfair Display', serif;
  font-size: 0.8em;
}

nav #mainTitle {
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  margin-right: 10%;
}

nav a {
  text-decoration: none;
  color: black;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style-type: none;
  margin-right: 3%;
  display: flex;
  align-items: center;
}

nav .nav_gauche {
  display: flex;
  letter-spacing: 2px;
  align-items: center;
}

nav .nav_gauche li {
  padding-right: 20%;
  font-family: 'Open Sans', sans-serif;
}

/* partie */
.partie {
  display: grid;
  grid-template-columns: 40% 45% auto;
  height: 100%;
}

/* partie gauche */
.partie .gauche {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.partie .gauche ul {
  padding: 5%;
}

.partie .gauche ul li {
  padding: 20px 0 0 0;
  list-style-type: none;
  text-align: center;
  width: 38px;
}

.partie .gauche .button {
  display: flex;
  height: 10%;
}

.partie .gauche .button button {
  width: 50%;
  height: 100%;
  background: linear-gradient(0.6turn, #045975, #67C5E4);
  border: 0;
}

.partie .gauche .button .contactIcon {
  height: 100%;
  width: 12%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* partie milieu */
.partie .milieu {
  background-color: #FFFFFF;
  height: 100%;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.partie .milieu .text {
  margin: 0 20% 0 20%;
  font-family: 'Montserrat', sans-serif;
}

.partie .milieu #firstLetter {
  font-size: 2em;
  float: left;
}

.partie .milieu .text :first-child {
  font-size: 1.3em;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}

.partie .milieu .motivation {
  height: 30%;
  width: 60%;
  background-image: url("../images/motivation.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

/* partie droite */
.partie .droite {
  display: flex;
  flex-direction: column;
}

.partie .droite .haut {
  background: linear-gradient(0.6turn, #045975, #67C5E4);
  height: 50%;
}

/* footer */
footer {
  margin: 0 5% 0 5%;
}

footer .haut {
  display: flex;
  justify-content: space-between;
  font-family: 'Playfair Display', serif;
}

footer .haut .droite {
  display: flex;
  padding: 20px;
  font-size: 0.8em;
  word-spacing: 0.2em;
  font-family: 'Montserrat', sans-serif;
}

footer .haut .droite hr {
  display: flex;
  margin-right: 20px;
  border: 0.4px solid rgba(0, 0, 0, 0.1);
}

footer .bas {
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
}

footer .bas p {
  font-size: 0.8em;
}

footer .bas ul {
  display: flex;
}

footer .bas ul li {
  display: flex;
  list-style-type: none;
  padding: 0 20px 0 0;
}