body{
    width: 1920px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* ---Début Header Tom--- */

.partie {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 25%;
}
  
/* navbar */
.navbar {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
}
  
nav {
    margin-top: 1%;
    font-family: 'Nunito', sans-serif;
    font-size: 0.8em;
    margin-right: 2%;
}
  
nav #mainTitle {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    margin-right: 10%;
}
  
nav a {
    text-decoration: none;
    color: black;
}
  
nav ul {
    display: flex;
    justify-content: space-between;
}
  
nav ul li {
    list-style-type: none;
    margin-right: 3%;
    display: flex;
    align-items: center;
}
  
nav .nav_gauche {
    display: flex;
    letter-spacing: 2px;
    align-items: center;
}
  
nav .nav_gauche li {
    padding-right: 20%;
    font-family: 'Nunito', sans-serif;
}
  
nav .search {
    display: flex;
    width: 20%;
    font-family: 'Nunito', sans-serif;
    font-size: 0.8em;
}
  
nav .search i {
    font-size: 1.5em;
    color: #D2E5E5;
}
  
nav #searchClient {
    margin-right: 40%;
}
  
nav hr {
    border: 0.5px solid lightgrey;
}
  
/* */
/* gauche */
.gauche {
    background-color: #D8EBED;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}
  
.gauche .vr {
    border-left: 1px solid black;
    height: 5%;
    width: 10px;
}
  
.gauche ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  
.gauche ul li {
    list-style-type: none;
    padding-bottom: 20px;
}
  
.gauche #nombre {
    margin-bottom: 10%;
    font-family: 'Nunito', sans-serif;
}
  
/* */
/* droite */
.droite {
    background-color: #FFFFFF;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
}
  
/* */
/* milieu_gauche */
.milieu_gauche {
    background-color: #FFFFFF;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}
  
.milieu_gauche .contain_milieu_gauche {
    height: 100%;
    width: 60%;
    margin: auto;
}
  
.milieu_gauche .contain_milieu_gauche h1 {
    font-size: 330%;
    margin-bottom: 1%;
}
  
.milieu_gauche .contain_milieu_gauche button {
    height: 12%;
    width: 60%;
    border-radius: 5px;
    background-color: #B5D3D3;
    color: #FFFFFF;
    border-style: none;
}
  
.milieu_gauche .contain_milieu_gauche .leading {
    display: flex;
    justify-content: space-between;
}
  
.milieu_gauche .contain_milieu_gauche .leading p {
    letter-spacing: 3px;
    font-size: 0.8em;
}
  
.milieu_gauche .contain_milieu_gauche .leading .hrLeading {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.milieu_gauche .contain_milieu_gauche .leading .hrLeading hr {
    width: 100%;
    border: 2px solid #B5D3D3;
}
  
/* */
.milieu_droite {
    background-color: purple;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    width: 175%;
    height: 90%;
    background-image: url("../images/photo_talent.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
  
.milieu_droite .description {
    height: 26%;
    width: 80%;
    background-color: rgba(238, 238, 238, 0.9);
    position: relative;
    top: 74%;
    font-family: 'Poppins', sans-serif;
}
  
.milieu_droite .description .contain_description {
    width: 80%;
    margin: auto;
    margin-top: 5%;
}
  
.milieu_droite .description .contain_description p {
    font-size: 0.6em;
    letter-spacing: 3px;
}
  
.milieu_droite .description .contain_description h1 {
    margin-top: 0;
    margin-left: 10%;
    font-size: 150%;
}
  
.milieu_droite .description .contain_description .contain_description_haut {
    display: flex;
    align-items: center;
}
  
.milieu_droite .description .contain_description .contain_description_haut #hr_description {
    height: 1px;
    width: 20%;
    border: 0.5px solid #B5D3D3;
    background-color: #B5D3D3;
    margin-right: 4%;
    margin-left: -13%;
}
  
.milieu_droite .fleche {
    background-color: #FFFFFF;
    height: 26%;
    width: 20%;
    position: relative;
    top: 74%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.milieu_droite .fleche i {
    margin: 20%;
}

/* Fin Header Tom */

/* ---Début Section 1--- */

.section-1{
    margin: auto;
    margin-bottom: 100px;
}
.container-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.element{
    height: 600px;
    width: 450px;
}
.element>img{
    height: 100%;
    width: 100%;
}
.flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-right: 20px;
}
.flex a{
    color: grey;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: 1.7em;
}
.flex a:hover{
    color: black;
    border-bottom: solid black 2px;
}
.flex i{
    color: grey;
    font-size: 1.7em;
    padding-right: 20px;
}
.flex i:hover{
    color: black;
}
.nav-gauche{
    display: flex;
}
.nav-droite{
    display: flex;
    padding-right: 20px;
}
li{
    list-style-type: none;
    margin: 0px 5px 0px 5px;
}
a{
    text-decoration: none;
}

/* Fin Section 1 */

/* ---Début Section 2--- */

.float-left{
    float: left;
    margin-right: 50px;
}
.float-right{
    float: right;
    margin-top: 15px;
}
.section-2{
    width: 90%;
    display: grid;
    grid-template-columns: 8% 15% 35% 25% 8% auto;
    grid-template-rows: 1fr 1fr 1fr;
}
.item-1{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    z-index: 10;
    padding-bottom: 50px;
}
.item-1>h1{
    font-size: 3.5em;
    margin: 0;
    font-weight: bold;
}
.item-2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 40px;
}
.item-2>ul{
    display: flex;
    padding: 0;
}
.item-2 li{
    padding-right: 40px;
    font-size: 2em;
}
.item-2 a{
    color: grey;
}
.item-2 a:hover{
    color: black;
}
.item-3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 40px;
}
.item-3>p{
    width: 450px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: gray;
}
.lien-bleu{
    color: lightseagreen;
}
.lien-noir{
    color: black;
}
.item-4{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.item-4 i{
    width: 50px;
    margin-top: 20px;
}
.item-4 a{
    color: lightseagreen;
}
.item-5{
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item-5>img{
    height: 600px;
    width: 1550px;
}
.item-6{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}
.item-6 ul{
    padding-left: 25px;
    margin-top: 10px;
}
.item-6 li{
    padding-bottom: 10px;
}
.item-6 i{
    color: white;
}
.item-7{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
}
.item-7>img{
    height: 500px;
    width: 380px;
}
.item-8{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 400px;
    width: 20px;
    background-color: #B5D3D3;
}
/* Fin Section 2 */

/* ---Début Section 3--- */

.latest{
    text-align: center;
}
.latest>hr{
    width: 75px;
    margin-bottom: 50px;
}
.section-3 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-3 li a{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section-3 img{
    height: 180px;
    width: 250px;
}
.section-3 p{
    height: 250px;
    width: 300px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.7em;
}
.section-3 a{
    color: black;
}
.section-3 a:hover{
    color: #B5D3D3;
}
/* Fin Section 3*/

/* ---Début Footer Tom--- */

footer {
    margin: 0 5% 0 5%;
  }
  
  footer .footer_haut {
    display: flex;
    justify-content: space-between;
    font-family: 'Playfair Display', serif;
  }
  
  footer .footer_haut .footer_droite {
    display: flex;
    padding: 20px;
    font-size: 0.7em;
    letter-spacing: 2px;
    word-spacing: 0.2em;
    font-family: 'Nunito', sans-serif;
  }
  
  footer .footer_haut .footer_droite hr {
    display: flex;
    margin-right: 20px;
  }
  
  footer hr {
    border: 0.4px solid rgba(0, 0, 0, 0.1);
  }
  
  footer .footer_bas {
    display: flex;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
  }
  
  footer .footer_bas p {
    font-size: 0.8em;
  }
  
  footer .footer_bas ul {
    display: flex;
  }
  
  footer .footer_bas ul li {
    display: flex;
    list-style-type: none;
    padding: 0 20px 0 0;
  }

  /* Fin Footer Tom */